.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(215, 229, 242) ;
    padding: 10px 8%;
    transition: 0.5;

}

.logo{
    width: 160px;
    cursor: pointer;

}
ul{
    flex: 1;
    list-style: none;
    text-align: center;

}

ul li {
    display: inline-block;
    margin: 10px 20px;
    font-family: sans-serif;
    font-size: 25px;
    cursor: pointer;

}

.toggle-icon{
    width: 40x;
    margin-left: 50px;
    cursor: pointer;
}

.search-box{
    display: flex;
    align-items: center;
    background:whitesmoke;
    padding: 10px 20px;
    border-radius: 50px;
}
.search-box input{
    padding: 6px;
    border: 0;
    outline: 0;
    background: transparent;
    color: azure;
    font-size: 18px;
    max-width: 200px;

}

.search-box input::placeholder{
    color: aliceblue;

}

.search-box img{
    width: 20px;
    cursor: pointer;
}
.dark.navbar{
    background-color: black;
    color: white;
}

.dark.search-box{
    color:black;
}

.dark.search-box.input::placeholder{
    color: #222;;

}