


.booking-form {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff; 
    border: 2px solid #3c40b3; 
    border-radius: 5px;
  }
  
  .booking-form label {
    display: block;
    margin-bottom: 10px;
    color: #403cb3; 
  }
  
  .booking-form input[type="text"],
  .booking-form input[type="email"],
  .booking-form input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #1128b9;
    border-radius: 5px;
  }
  
  .booking-form button {
    background-color: #3c5ab3; 
    color: #fff; 
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .booking-form button:hover {
    background-color: #312e8b; 
  }
  