*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}

.container{
  width: 0;
  min-height: 100vh;
  background: #ecedee;
  transition: 0.5s;
}

.container.dark{
 background-color: black;
}